---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeroScreen from "../../components/HeroScreen2.astro";
import { getCollection } from "astro:content";
import BlogPostCard from "../../components/BlogPostCard.astro";
import CTASection from "../../components/CTASection.astro";
import CTAEnrollWithUsMini from "../../components/CTAEnrollWithUsMini.astro";
import CTAEnrollWithUs from "../../components/CTAEnrollWithUs.astro";
import ContactFormSection from "../../components/Contact/ContactFormSection.astro";

const blogPosts = await getCollection("blog");
const sortedPosts = blogPosts.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);

// Format date helper
const formatDate = (date: Date) => {
  return new Intl.DateTimeFormat("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
  }).format(date);
};

const heroData = {
  image: {
    src: "/src/assets/angry-_-kat-5R4fBlHEegc-unsplash.jpg",
    alt: "Military aircraft in flight",
  },
  upperHeader: `Flying is Freedom`,
  title: "From First Flight <br> to Certified Pilot <br> All in One Academy",
  subTitle:
    "Accelerated FAA Part 141 pilot training designed for future commercial and airline pilots",
  cta: [{ url: "#", text: "Private Pilot (PPL)" }],
};

const constBlogData = {
  upperHeader: "We're Eager To Hear From You",
  title: "Contact Us",
  paragraphs: ["Stay touch with us."],
  upperHeaderTwo: "They Are Here For You",
  titleTwo: "Our Fleet Aircrafts",
};
---

<BaseLayout
  siteTitle="Blog | Eagle Aircraft Aviation Academy"
  siteDescription="Aviation insights, training tips, and industry news"
>
  <HeroScreen data={heroData} />

  <CTAEnrollWithUsMini />
  <!-- <CTAEnrollWithUs
    upperHeadingTextSize="!text-xl"
    titleTextSize="!text-3xl"
    showButton={true}
    ctaLink="#enroll"
  /> -->

  <!-- <section class="py-16 px-4 bg-muted-50">
    <div class="max-w-7xl mx-auto flex flex-col space-y-4">
      <p class="mx-auto subtitle !text-black">{constBlogData.upperHeader}</p>
      <h2
        class="text-4xl md:text-5xl max-w-3xl mx-auto font-bold text-center title"
      >
        {constBlogData.title}
      </h2>
      {
        constBlogData.paragraphs.map((paragraph: string) => (
          <p class="text-xl text-center sans max-w-2xl mx-auto">{paragraph}</p>
        ))
      }
    </div>
  </section> -->

  <ContactFormSection />
  <CTASection />
</BaseLayout>
