---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import CTAEnrollWithUs from "../../components/CTAEnrollWithUs.astro";
import OurFleetCard from "../../components/OurFleetCard.astro";
import HeroScreen from "../../components/HeroScreen2.astro";

type Aircraft = CollectionEntry<"aircraft">;

const aircraft = await getCollection("aircraft");
const sortedAircraft = aircraft.sort(
  (a: Aircraft, b: Aircraft) => (a.data.order || 999) - (b.data.order || 999)
);

const heroData = {
  image: {
    src: "/src/assets/angry-_-kat-5R4fBlHEegc-unsplash.jpg",
    alt: "Military aircraft in flight",
  },
  upperHeader: `Flying is Freedom`,
  title: "From First Flight <br> to Certified Pilot <br> All in One Academy",
  subTitle:
    "Accelerated FAA Part 141 pilot training designed for future commercial and airline pilots",
  cta: [
    { url: "#", text: "Private Pilot (PPL)" },
  ],
  stats: [
    { value: "1,500", suffix: "+", title: "Pilots Trained" },
    { value: "95", suffix: "%", title: "Checkride Pass Rate" },
    { value: "12", suffix: "+", title: "Training Aircraft" },
  ],
};


const ourFleetData = {
  upperHeader: "Explore Our Fleet",
  title: "Modern Aircraft, Trusted Performance",
  paragraphs: [
    "Our fleet is composed of modern, meticulously maintained aircraft designed to deliver exceptional performance, safety, and reliability. Each machine is equipped with advanced avionics and cutting-edge systems that elevate every stage of your training.",
    "From primary trainers to advanced platforms, our aircraft provide a smooth and efficient learning experience, ensuring you gain real-world skills in the same high-standard environment used by today's professional pilots."
  ]
};

const { ourFleetPageData = ourFleetData } = Astro.props;
---

<BaseLayout
  siteTitle="Our Team | Eagle Aircraft Aviation Academy"
  siteDescription="Meet our experienced flight instructors and staff"
>
  <HeroScreen data={heroData} />
  <section class="py-16 px-4">
    <div class="max-w-7xl mx-auto flex flex-col space-y-4">
      <p class="mx-auto subtitle !text-black">{ourFleetPageData.upperHeader}</p>
      <h1 class="text-4xl md:text-5xl max-w-3xl mx-auto font-bold text-center title">
        {ourFleetPageData.title}
      </h1>
      {
        ourFleetPageData.paragraphs.map((paragraph:string)=>(
        <p class="text-xl text-center sans max-w-2xl mx-auto">
        {paragraph}
      </p>))
      }
    </div>
  </section>
  <section class="bg-madison-950 p-16">
      <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 ">
        {
          sortedAircraft.map((aircraft: Aircraft) => (
            <OurFleetCard aircraft={aircraft}/>
          ))
        }
      </div>
  </section>
  <CTAEnrollWithUs></CTAEnrollWithUs>
</BaseLayout>

