---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import HeroScreen from "../../components/HeroScreen2.astro";
import OurFleetCardGrid from "../../components/OurFleetCardGrid.astro";
import AboutThisPageWithImageAndQuote from "../../components/AboutThisPageWithImageAndQuote.astro";
import { COMPANY_NAME } from "../../data/consts";
import CTAEnrollWithUsMini from "../../components/CTAEnrollWithUsMini.astro";
import CTASection from "../../components/CTASection.astro";
import Hero75 from "../../components/Hero75.astro";

type Aircraft = CollectionEntry<"aircraft">;

const aircraft = await getCollection("aircraft");
const sortedAircraft = aircraft.sort((a: Aircraft, b: Aircraft) => {
  const yearA = parseInt(a.data.year);
  const yearB = parseInt(b.data.year);
  return yearB - yearA;
});

const heroData = {
  image: {
    src: "/src/assets/drive/fleet-two-cesnas-team_eagle-air_indiana-USA_valparaiso-IN_Flight-school_pilot-training.jpg",
    alt: "Fleet two Cessnas team, Eagle Aircraft Indiana USA Valparaiso IN flight school pilot training",
  },
  upperHeader: "Our Training Fleet",
  title: "Modern Aircraft <br> Built for Professional Training",
  subTitle:
    "Our diverse fleet is meticulously maintained and equipped for every phase of pilot training—from first solo to advanced multi-engine and instrument operations.",
  cta: [
    { url: "/discovery-flight", text: "Book a Discovery Flight" },
    { url: "/crew", text: "Meet the Team" },
  ],
};

const ourFleetData = {
  upperHeader: "Explore Our Fleet",
  title: "Modern Aircraft, Trusted Performance",
  paragraphs: [
    "Our fleet is composed of modern, meticulously maintained aircraft designed to deliver exceptional performance, safety, and reliability. Each machine is equipped with advanced avionics and cutting-edge systems that elevate every phase of your training.",
    "From primary trainers to advanced platforms, our aircraft provide a smooth and efficient learning experience, ensuring you gain real-world skills in the same high-standard environment used by today's professional pilots.",
  ],
  upperHeaderTwo: "They Are Here For You",
  titleTwo: "Our Fleet Aircrafts",
};

const aboutThisPageWithQuoteData = {
  upperHeading: "Our History",
  title: "About Our Fleet",
  paragraphs: [
    `Welcome to ${COMPANY_NAME}, Founded in 1979 by Dr. John Reed, Eagle Aircraft has established itself as a prominent flight school in Northwest Indiana. To date, the institution has successfully trained over 4,000 students, significantly contributing to the development of future generations of pilots. Eagle Aircraft possesses a rich heritage and holds a distinguished place in the lives of many individuals. `,
    `Following its inception, Eagle was managed by John and Joy Slegers, who played a pivotal role in its expansion into a primary flight training center during the early 2000s. The current phase of Eagle's evolution includes a strategic partnership with iFly Aviation Group, which has opened new avenues for growth and innovation. `,
    `The team at Eagle Aircraft is deeply committed to flight training and is enthusiastic about the many opportunities and experiences that aviation offers. The organization prioritizes safety, efficiency, and cost-effectiveness in all operations. Furthermore, Eagle Aircraft aims to instill a passion for aviation in its students, equipping them to excel in their careers and beyond.`,
  ],
  image: "/src/assets/aircraft-window-view.jpg",
  quote: `When you join ${COMPANY_NAME}, you become part of our family.`,
};

const { ourFleetPageData = ourFleetData } = Astro.props;
---

<BaseLayout
  siteTitle={`Training Aircraft Fleet | ${COMPANY_NAME}`}
  siteDescription={`Explore the modern and reliable training aircraft used for pilot training at ${COMPANY_NAME}.`}
>
  <Hero75 data={heroData} />
  <section class="py-16 px-4">
    <div class="max-w-7xl mx-auto flex flex-col space-y-4">
      <p class="mx-auto subtitle !text-black">{ourFleetPageData.upperHeader}</p>
      <h2
        class="text-4xl md:text-5xl max-w-3xl mx-auto font-bold text-center title"
      >
        {ourFleetPageData.title}
      </h2>
      {
        ourFleetPageData.paragraphs.map((paragraph: string) => (
          <p class="text-xl text-center sans max-w-2xl mx-auto">{paragraph}</p>
        ))
      }
    </div>
  </section>
  <AboutThisPageWithImageAndQuote
    aboutThisPageWithQuoteData={aboutThisPageWithQuoteData}
  />
  <OurFleetCardGrid aircrafts={sortedAircraft} data={ourFleetPageData} />
  <CTAEnrollWithUsMini />
  <CTASection />
</BaseLayout>
