---
import { ImQuotesLeft, ImQuotesRight } from "react-icons/im";
import ImageComp from "./ImageComp.astro";
import { COMPANY_NAME } from "../data/consts";

const MainImage = "/src/assets/angry-_-kat-5R4fBlHEegc-unsplash.jpg";

const aboutThisPageWithQuotePlaceholder = 
    {
      upperHeading: "Our History",
      title: "About Us",
      paragraphs: [
        `Welcome to ${COMPANY_NAME}, where dreams take flight. Founded and
        operated by Hal Harris and his family, our academy is rooted in a love
        for aviation that spans generations. Hal, a seasoned Certified Flight
        Instructor (CFI) and jet pilot with a Citation type rating, has been
        sharing his passion for flying with aspiring pilots for over 30 years.
        His dedication to aviation is matched by his wife, MariCris, and their
        daughter, Grace, who both contribute their unique talents and
        enthusiasm to our family run school.`,
        `Our vision is to build a future where innovation, excellence, and meaningful
        experiences shape everything we do. As we grow, ${COMPANY_NAME} remains committed
        to expanding our capabilities, elevating our standards, and continually improving
        the way we serve our community. We look ahead with intention — embracing new
        opportunities, adopting modern solutions, and staying focused on long-term impact.
        Our future is guided by progress, responsibility, and the belief that great
        experiences are built through consistent dedication and purpose.`
      ],
      image: "/src/assets/aircraft-window-view.jpg",
      quote: `When you join ${COMPANY_NAME}, you become part of our family.`,
    }

const { aboutThisPageWithQuoteData = aboutThisPageWithQuotePlaceholder } = Astro.props;
---


<section class="pb-12 pt-24 px-5 bg-monza-800">
  <div class="max-w-6xl mx-auto grid grid-cols-1 lg:grid-cols-3 gap-10">

    <div class="flex flex-col items-center sm:items-start gap-3 lg:col-span-2">
      <p class="subtitle !mx-0 !text-muted-50">
        {aboutThisPageWithQuotePlaceholder.upperHeading}
      </p>
      <h2 class="text-5xl text-black font-bold title">
        {aboutThisPageWithQuotePlaceholder.title}
      </h2>
      {
        aboutThisPageWithQuotePlaceholder.paragraphs.map((paragraph) => (
          <p class="sans text-muted-50">{paragraph}</p>
        ))
      }
    </div>

    <div class="bg-madison-950 text-white p-8 aspect-video lg:aspect-square sm:p-14 lg:p-20 flex flex-col justify-center gap-10">
      <ImQuotesLeft className="text-red-700 size-8" />
      <p class="text-lg sans font-semibold">
        {aboutThisPageWithQuotePlaceholder.quote}
      </p>
      <ImQuotesRight className="text-red-700 size-8 self-end" />
    </div>

  </div>
</section>
