---
import "../styles/global.css";
import { SITE_TITLE, KEYWORDS, OG_IMAGE, FAVICON } from "../data/consts";

interface Props {
  title: string;
  description: string;
  image?: string;
  keywords?: string;
}

const canonicalURL = Astro.url.href;

const {
  title,
  description,
  image = OG_IMAGE,
  keywords = KEYWORDS,
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<!-- Site Created By:    
       _____  _       _     _     _____           _     _           
      |  __ \(_)     | |   | |   |  __ \         | |   | |          
      | |__) |_  __ _| |__ | |_  | |__) |   _  __| | __| | ___ _ __ 
      |  _  /| |/ _` | '_ \| __| |  _  / | | |/ _` |/ _` |/ _ \ '__|
      | | \ \| | (_| | | | | |_  | | \ \ |_| | (_| | (_| |  __/ |   
      |_|  \_\_|\__, |_| |_|\__| |_|  \_\__,_|\__,_|\__,_|\___|_|   
      |  \/  |   __/ |  | |      | | (_)                            
      | \  / | _|___/ __| | _____| |_ _ _ __   __ _                 
      | |\/| |/ _` | '__| |/ / _ \ __| | '_ \ / _` |                
      | |  | | (_| | |  |   <  __/ |_| | | | | (_| |                
      |_|  |_|\__,_|_|  |_|\_\___|\__|_|_| |_|\__, |                
                                               __/ |                
                                              |___/                 

    Nice to see you here.  Find new student pilots with Right Rudder Marketing.  
    https://rightruddermarketing.com/contact-us -->

<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png" href={FAVICON} />

<!-- Google Tag Manager -->
<script type="text/javascript" is:inline>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-KF9S87TW");
</script>
<!-- End Google Tag Manager -->

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- SiteMap -->
<link rel="sitemap" href="/sitemap-index.xml" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={SITE_TITLE}
  href="/rss.xml"
/>

<meta name="generator" content={Astro.generator} />

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FlightSchool",
    "name": "Eagle Aircraft Flight Academy",
    "alternateName": "Eagle Aircraft",
    "url": "https://eagleaircraftflightacademy.com/",
    "description": "Eagle Aircraft Flight Academy is a professional flight school offering FAA Part 141 and Part 61 pilot training. Programs range from Private Pilot through Commercial and Flight Instructor, with structured pathways to airline careers and university partnerships.",
    "telephone": "+1 (219) 464-0130",
    "email": "info@eagleaircraftflightacademy.com",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "4207 Murvihill Rd",
      "addressLocality": "Valparaiso",
      "addressRegion": "IN",
      "postalCode": "46383",
      "addressCountry": "US"
    },
    "currenciesAccepted": "USD",
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 41.453,
      "longitude": -87.0071
    },
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
          "Sunday"
        ],
        "opens": "08:00",
        "closes": "18:00"
      }
    ],
    "sameAs": [
      "https://www.facebook.com/EagleAircraftFlightAcademy",
      "https://www.linkedin.com/company/eagle-aircraft-inc/"
    ],
    "areaServed": {
      "@type": "Place",
      "name": [
        "Valparaiso, IN",
        "Northwest Indiana",
        "Chicago Metropolitan Area"
      ]
    },
    "makesOffer": {
      "@type": "Offer",
      "itemOffered": {
        "@type": "Service",
        "serviceType": "FAA Pilot Training and Flight Instruction"
      },
      "priceCurrency": "USD",
      "price": "Varies"
    }
  }
</script>

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta name="author" content="Eagle Aircraft Flight Academy" />
<meta name="geo.region" content="US-IN" />
<meta name="geo.placename" content="Valparaiso" />
<meta name="geo.position" content="41.4530;-87.0071" />
<meta name="ICBM" content="41.4530, -87.0071" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Eagle Aircraft Flight Academy" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
