---
import { COMPANY_NAME } from "../data/consts";
const ctaEnrollWithUsDataPlaceholder = {
  upperHeading: "Take the Next Step",
  title: `Join Us at ${COMPANY_NAME} Today`
}


const { 
  ctaData = ctaEnrollWithUsDataPlaceholder,
  showButton = true,
  upperHeadingTextSize = "!text-xl",
  titleTextSize = "!text-3xl" ,
  paragraphTextSize = "text-xl"
 } = Astro.props;
---
  <section id="our-mission" class="bg-monza-800">
    <div
      class="lg:px-16 md:px-12 px-8 py-8 flex space-y-8 flex-col justify-center align-middle">
      <p class=`${upperHeadingTextSize} subtitle !text-white  px-2 uppercase mb-4`>
        {ctaData.upperHeading}
      </p>
      <h2 class=`${titleTextSize} font-bold text-center title  !text-white max-w-[80%] lg:max-w-4xl mx-auto`>
        {ctaData.title}
      </h2>
          <p class=`text-white sans text-center ${paragraphTextSize} mx-auto lg:px-52 max-w-[80%] lg:max-w-7xl`>
            To provide excellence in flight training, the highest levels of service,
            and the upmost focus on safety and student growth to help each pilot
            meet their aviation goals!
          </p>
      {
        showButton && (
           <a href="/enrollment" class="bg-madison-950 text-base text-white w-fit mx-auto sm:text-lg md:text-xl px-8 py-4 min-w-[200px] text-center font-semibold transition-all duration-300 hover:scale-105 hover:shadow-2xl">
             Start Your Journey
          </a>
        )
      }
     
    </div>
  </section>