---
import { COMPANY_NAME } from "../data/consts";
import SectionDiscoveryFlight from "./Form/SectionDiscoveryFlight.astro";
import ImageWithZoomEffect from "./ImageWithZoomEffect.astro";
import ImageWithZoomEffectAndStripe from "./ImageWithZoomEffectAndStripe.astro";

const example = {
  upperHeading: `DISCOVERY FLIGHT`,
  title: `Experience the Thrill of Flying with a Discovery Flight`,
  description: ` `,
  descriptions: [``, ``, ``],
  offerings: [
    {
      name: "Discovery Flight With<br> Our Scenic Tour",
      price: 188,
      duration: "1 hour",
      description:
        "Enjoy a scenic flight over the lakeshore or surrounding local areas and experience Northwest Indiana from the air.",
      passengers: {
        maxPassengers: 3,
        maxWeightLbs: "500–550",
      },
      includes: [
        "Scenic flight over the local area or lakeshore",
        "Professional pilot at the controls",
        "Ideal for sightseeing or a first aviation experience",
      ],
      image: {
        src: "/src/assets/drive/sky-sunset-plane-wing_eagle-air_indiana-USA_valparaiso-IN_Flight-school_pilot-training.jpg",
        alt: "Sky sunset plane wing view, Eagle Aircraft Indiana USA Valparaiso IN flight school pilot training",
      },
    },
    {
      name: "Discovery Flight<br> — Flight Experience",
      price: 188,
      duration: "1 hour",
      description:
        "Get your first hands-on flight lesson and experience what it’s like to be a pilot. This introductory lesson includes a safety briefing and pre-flight inspection before taking the controls.",
      passengers: {
        maxPassengers: 3,
        maxWeightLbs: "500–550",
      },
      includes: [
        "Safety briefing and aircraft pre-flight",
        "Introductory flight lesson with an instructor",
        "Hands-on flying experience",
        "Perfect for prospective student pilots",
      ],
      image: {
        src: "/src/assets/drive/sky-plane-mountains-clouds_eagle-air_indiana-USA_valparaiso-IN_Flight-school_pilot-training.jpg",
        alt: "Sky plane flying over mountains and clouds, Eagle Aircraft Indiana USA Valparaiso IN flight school pilot training",
      },
    },
  ],
};

const ctaMeetOurFleetPlaceholder = {
  upperHeading: ``,
  title: `MEET THE ${COMPANY_NAME} FLEET`,
  description: ``,
  image: {
    src: "/src/assets/angry-_-kat-5R4fBlHEegc-unsplash.jpg",
    alt: "Military aircraft in flight",
  },
};

const imagePlaceholder = {
  src: "/src/assets/angry-_-kat-5R4fBlHEegc-unsplash.jpg",
  alt: "Military aircraft in flight",
};

const {
  ctaData = ctaMeetOurFleetPlaceholder,
  showButton = true,
  upperHeadingTextSize = "!text-xl",
  titleTextSize = "!text-3xl",
  imageSide = "left",
  background = "blue",
  image = imagePlaceholder,
  content = example,
} = Astro.props;

const isImageOnLeft = imageSide === "left";
const isBackgroundBlue = background === "blue";
---

<section class=`bg-white`>
      <div class="max-w-7xl mx-auto p-8 lg:px-8">
        <div class="flex lg:items-center gap-8 pt-12">
        <div
            class="flex flex-col lg:flex-row justify-around items-center w-full gap-4">
            <!-- Text -->
        <div class="flex flex-col items-center">
          <p
            class="subtitle uppercase mb-4 !text-2xl !text-center !mx-0 !text-black"
            set:html={content.offerings[1].duration}
          />
          <h2
            class="mx-auto w-2xl font-bold title !text-5xl !text-center !mx-0"
            set:html={content.offerings[1].name}
          />
          <p
            class="text-black sans !mx-0 text-center max-w-lg text-xl"
            set:html={content.offerings[1].description}
          />
          <!-- Offering Details -->
          <div>
            <ul
              class="grid grid-cols-2 items-center text-center gap-4 my-4"
            >
                <li class="transition-transform duration-300 ease-out hover:-translate-y-1 hover:shadow-lg bg-madison-950 p-4 text-white">$ {content.offerings[1].price}</li>
                <li class="transition-transform duration-300 ease-out hover:-translate-y-1 hover:shadow-lg bg-madison-950 p-4 text-white">{content.offerings[1].duration}</li>
                <li class="transition-transform duration-300 ease-out hover:-translate-y-1 hover:shadow-lg bg-madison-950 p-4 text-white">
                  Max Passengers: {
                    content.offerings[1].passengers.maxPassengers
                  }
                </li>
                <li class="transition-transform duration-300 ease-out hover:-translate-y-1 hover:shadow-lg bg-madison-950 p-4 text-white">
                  Max Weight: {content.offerings[1].passengers.maxWeightLbs} (lbs)
                </li>
            </ul>
            <!-- Includes -->
            <div
              class="sans flex flex-col gap-4 text-center mx-auto text-xl py-6 max-w-3xl"
            >
              <!-- <p set:html={content.offerings[0].name} />
              <p set:html={content.offerings[0].description} /> -->
              <ul class="list-none space-y-4 px-6">
                {
                  content.offerings[1].includes.map((benefit: any) => (
                    <li class={`flex items-center  text-left`}>
                      <span class={`mr-3 text-4xl text-madison-950 text-2xl font-black flex justify-center items-center`}>
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-8 " viewBox="0 0 32 32"><path fill="currentColor" d="M16 2a14 14 0 1 0 14 14A14 14 0 0 0 16 2m-2 19.59l-5-5L10.59 15L14 18.41L21.41 11l1.596 1.586Z"/><path fill="none" d="m14 21.591l-5-5L10.591 15L14 18.409L21.41 11l1.595 1.585z"/></svg>
                      </span>
                      {benefit}
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>

          <!-- Button -->
          <div class="mt-10 flex justify-center items-center">
            <a href="#discovery-flight-form" class="btn-tertiary-red"
              >Book now</a
            >
          </div>
        </div>
        <!-- Image -->
        <div class=`h-full mx-auto lg:mx-0 w-full  mt-4 lg:mt-0`>
          <ImageWithZoomEffectAndStripe
            src={content.offerings[1].image.src}
            alt={content.offerings[1].image.alt}
          />
        </div>
      </div>
    </div>
</div>
</section>