---
import {
  COMPANY_NICKNAME,
  LOCATIONS,
  PHONE_NUMBER,
//   PHONE_NUMBER_PRETTY,
  EMAIL_ADDRESS,
} from "../data/consts";

import ContactForm from "./Contact/ContactForm.astro";
import ImageWithZoomEffect from "./ImageWithZoomEffect.astro";

const imgForm = "/src/assets/stock-brendan-sapp-waG-U3XAb3I-unsplash.jpg";
const upperheading = "ENROLLMENT FORM";
const title = `Start Your <span class="text-primary-500">${COMPANY_NICKNAME}</span> Enrollment`;
const description =
  "Ready to take the next step in your aviation journey? Fill out this enrollment form and our team will guide you through the process.";

---

<section
  class="relative scroll-my-20 lg:scroll-my-28 py-20 bg-muted-50"
  id="enroll"
>
  <div class="relative z-10 max-w-7xl mx-auto  h-full flex">
    <div class="flex flex-col-reverse gap-10 lg:gap-0 lg:flex-row h-full">
      <div class="flex justify-center md:px-24 lg:px-0 lg:pl-10 2xl:px-0 lg:w-1/2">
        <ImageWithZoomEffect
          src={imgForm}
          alt={"Form image"}
          class="h-full"
        ></ImageWithZoomEffect>
      </div>
      <div class="w-full lg:w-1/2">
        <div class="mx-auto px-10">
          <div class="w-full py-12">
            <p
              class="subtitle !text-black text-lg uppercase tracking-wide mb-4 text-center lg:text-left"
            >
              {upperheading}
            </p>
            <h2
              class="title !text-madison-950  mb-4 text-center lg:text-left"
            >
              <Fragment set:html={title} />
            </h2>
            <p class="sans text-black text-center lg:text-left">
              {description}
            </p>
          </div>
          <ContactForm />
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

  const contactUs = document.getElementById("contactUs");

  if (isSafari && contactUs) {
    contactUs.classList.remove("bg-fixed");
  }
</script>
