---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import HeroScreen from "../../components/HeroScreen2.astro";
import ImageWithZoomEffectAndStripe from "../../components/ImageWithZoomEffectAndStripe.astro";
import { COMPANY_NICKNAME } from "../../data/consts";
import CTASection from "../../components/CTASection.astro";
import CTAMeetOurFleet from "../../components/CTAMeetOurFleet.astro";

export const getStaticPaths = (async () => {
  const crewMembers = await getCollection("crew");
  return crewMembers.map((member: CollectionEntry<"crew">) => ({
    params: { slug: member.slug },
    props: { member },
  }));
}) satisfies GetStaticPaths;

type Props = {
  member: CollectionEntry<"crew">;
};

const { member } = Astro.props as Props;

const heroData = {
  image: {
    src: "/src/assets/angry-_-kat-5R4fBlHEegc-unsplash.jpg",
    alt: "Military aircraft in flight",
  },
  upperHeader: `Flying is Freedom`,
  title: "From First Flight <br> to Certified Pilot <br> All in One Academy",
  subTitle:
    "Accelerated FAA Part 141 pilot training designed for future commercial and airline pilots",
  cta: [
    { url: "#", text: "Private Pilot (PPL)" },
  ],
};
 
---

<BaseLayout
  siteTitle={`${member.data.name} | Eagle Aircraft Aviation Academy`}
  siteDescription={member.data.bio}
  siteImage={member.data.image}
>
<HeroScreen data={heroData}/>
<section class=" bg-muted-50">
  <div class="max-w-7xl mx-auto py-16 px-4 lg:px-8 space-y-8">
    <div class="p-8 flex flex-col md:flex-row gap-8">
      <div class="aspect-square overflow-hidden md:w-1/3 flex-shrink-0">
        <ImageWithZoomEffectAndStripe
          src={member.data.image}
          alt={member.data.name}
          class="shadow-lg"
        />
      </div>
  
      <div class="flex grow flex-col">
        <h1 class="text-4xl font-bold title !text-madison-950">{member.data.name}</h1>
        <p class="text-xl subtitle !mx-0 !text-monza-600 mt-2">{member.data.title}</p>
  
        {member.data.certifications && member.data.certifications.length > 0 && (
          <div class="mt-8">
            <h2 class="text-2xl font-bold mb-6 font-title text-madison-950">Certifications</h2>
            <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
              {member.data.certifications.map((cert: string) => (
                <li class="flex items-center justify-start gap-3">
                 <svg xmlns="http://www.w3.org/2000/svg" class="h-full text-monza-600 text-2xl w-8 " viewBox="0 0 32 32">
                      <path fill="currentColor" d="M16 2a14 14 0 1 0 14 14A14 14 0 0 0 16 2m-2 19.59l-5-5L10.59 15L14 18.41L21.41 11l1.596 1.586Z"/>
                      <path fill="none" d="m14 21.591l-5-5L10.591 15L14 18.409L21.41 11l1.595 1.585z"/>
                    </svg>
                  <span class="sans text-black">{cert}</span>
                </li>
              ))}
            </ul>
            <h2 class="text-2xl font-bold mt-8 mb-4 font-title text-madison-950">Experience</h2>
            <p class="sans text-black">{member.data.bio}</p>
          </div>
        )}
      </div>
    </div>
    <div class="px-8">
      <a href="/crew" class="bg-monza-800 text-base text-white sm:text-lg md:text-xl px-8 py-4 text-center font-semibold transition-all duration-300 hover:scale-105 hover:shadow-2xl ml-auto block w-fit">
      Back to Crew
    </a>
    </div>
  </div>
</section>
  <CTAMeetOurFleet imageSide="right" background="red"/>
  <CTASection/>
</BaseLayout>