---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import CTAEnrollWithUsMini from "../../components/CTAEnrollWithUsMini.astro";
import AboutThisPageWithImageAndQuote from "../../components/AboutThisPageWithImageAndQuote.astro";
import OurCrewCardGrid from "../../components/OurCrewCardGrid.astro";
import CTASection from "../../components/CTASection.astro";
import Hero75 from "../../components/Hero75.astro";
import { COMPANY_NAME, LOCATION } from "../../data/consts";

type CrewMember = CollectionEntry<"crew">;

const crewMembers = await getCollection("crew");
const sortedCrew = crewMembers.sort(
  (a: CrewMember, b: CrewMember) =>
    (a.data.order || 999) - (b.data.order || 999)
);

const heroData = {
  image: {
    src: "/src/assets/crew/entiry-eagle-air-family-crew.jpg",
    alt: "Entiry Eagle Aircraft Flight Academy instructors crew",
  },
  upperHeader: `Flying is Freedom`,
  title: "From First Flight <br> to Certified Pilot <br> All in One Academy",
  subTitle:
    "Accelerated FAA Part 141 pilot training designed for future commercial and airline pilots",
  cta: [{ url: "/discovery-flight", text: "Book a Discovery Flight" }],
};

const ourCrewData = {
  upperHeader: "Meet The Team",
  title: "Our Crew",
  paragraphs: [
    "Our crew is made up of passionate instructors, skilled professionals, and dedicated staff who bring years of aviation experience to every student they support.",
    "Each member plays a vital role in creating a safe, welcoming, and growth-focused environment, ensuring that every aspiring pilot receives the guidance, knowledge, and confidence needed to succeed in their aviation journey.",
  ],
  upperHeaderTwo: "They Are Here For You",
  titleTwo: "Our Team Members",
};

const { ourCrewPageData = ourCrewData } = Astro.props;
---

<BaseLayout
  siteTitle={`Meet Our Flight Instructors | ${COMPANY_NAME}`}
  siteDescription={`Meet the experienced flight instructors and staff guiding student pilots at ${COMPANY_NAME} in ${LOCATION.state}.`}
>
  <Hero75 data={heroData} />
  <section class="py-16 px-4">
    <div class="max-w-7xl mx-auto flex flex-col space-y-4">
      <p class="mx-auto subtitle !text-black">{ourCrewPageData.upperHeader}</p>
      <h1 class="text-4xl md:text-5xl font-bold text-center title">
        {ourCrewPageData.title}
      </h1>
      {
        ourCrewPageData.paragraphs.map((paragraph: string) => (
          <p class="text-xl text-center sans max-w-2xl mx-auto">{paragraph}</p>
        ))
      }
    </div>
  </section>
  <AboutThisPageWithImageAndQuote />
  <OurCrewCardGrid crew={sortedCrew} data={ourCrewPageData} />
  <CTAEnrollWithUsMini />
  <CTASection />
</BaseLayout>
